.skill-conteiner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vw;
    display: block;
    overflow-x: hidden; 
    background-color: white; 
}
.box-border{
    margin-top: 8vw;
}
.skill-name{
    color: #000;
    font-size: 2.5vw;
    font-weight: bold;
    transition: 500ms;
}
.skills-text{
    color:#000;
    font-size: 1.2vw;
    margin-top: 3vw;
    transition: 500ms;
}
.box-border p{
    font-family: 'Lato', sans-serif;
}

.skill-conteiner p{
    text-align: center;
}
.skill-box-image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 5vw;
}
.skill-mobileDev{
    height: 37vw;
    min-height: 200px;
    width: 22vw;
    margin-right: 0px;
    margin-left:20px;
    border-radius: 3vw;
    box-shadow: #7410f760 2px 0px 10px 3px;
}

.skill-icon{
    font-size: 4vw;
    text-align: center;
    margin-top:2vw;
    margin-bottom:10px;
    color: #7510F7;
    
}
.skill-mobileDev p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    font-weight:bold;
    display: block;
    margin-bottom: 2vw;
    position: relative;
    transition: 500ms;
}
.skill-webDev{
    height: 37vw;
    min-height: 200px;
    width: 22vw;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 3vw;
    box-shadow: #7410f760 2px 0px 10px 3px;
}
.skill-webDev p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    font-weight:bold;
    margin-bottom: 2vw;
    transition: 500ms;
}
.skill-lern{
    height: 37vw;
    min-height: 200px;
    width: 22vw;
    margin-right: 20px;
    border-radius: 3vw;
    box-shadow: #7410f760 2px 0px 10px 3px;
}
.skill-lern p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    font-weight:bold;
    margin-bottom: 2vw;
    transition: 500ms;
}
.horizontal-skill-box{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 3vw;
}
.horizontal-skill-box img{
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
@media (max-width:800px){
    .skill-box-image{
        flex-direction: column;
    }
    .skill-name{
        color: #000;
        font-size: 7.5vw;
        font-weight: bold;
        transition: 500ms;
        font-weight: 600;
    }
    .skills-text{
        color:#000;
        font-size: 4vw;
        margin-top: 3vw;
        transition: 500ms;
    }
    .skill-conteiner{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        display: block;
        overflow-x: hidden; 
        background-color: white; 
    }
    .skill-mobileDev{
        height: 90vw;
        min-height: 200px;
        width: 60vw;
        margin-right: 20px;
        margin-left:20px;
        border-radius: 3vw;
        box-shadow: #7410f760 2px 0px 10px 3px;
    }
    .skill-box-image{
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 9vw;
        margin-bottom:20vw;
    }
    .skill-webDev{
        height: 90vw;
        min-height: 200px;
        width: 60vw;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 3vw;
        box-shadow: #7410f760 2px 0px 10px 3px;
        margin-top: 40px;
    }
    .skill-lern{
        height: 90vw;
        min-height: 200px;
        width: 60vw;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 3vw;
        box-shadow: #7410f760 2px 0px 10px 3px;
        margin-top: 40px;
    }
    .skill-icon{
        font-size: 13vw;
        text-align: center;
        margin-top:6vw;
        margin-bottom:10px;
        color: #7510F7;
    }
    .skill-mobileDev p{
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 3.5vw;
        font-weight:bold;
        display: block;
        margin-bottom: 6vw;
        position: relative;
        transition: 500ms;
    }
    .skill-lern p{
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 3.5vw;
        font-weight:bold;
        margin-bottom: 6vw;
        transition: 500ms;
    }
    .skill-webDev p{
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 3.5vw;
        font-weight:bold;
        margin-bottom: 6vw;
        transition: 500ms;
    }
    .horizontal-skill-box img{
        width: 9vw;
        height: 9vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

}